body {
  margin: 0;
  font-family:sans-serif;
}

.gridimage{
  max-width: 60vw;
}

.gridhead{
  font-size: 30px;
  font-weight: 800;
}

.gridtext{
  font-size: 17px;
}
.cardimg{
  width:100%;
  border-radius: 9px;
}
.starimg{
  height:18px ;
}
.text-color{
  color: #918E9B;
}

.subtext{
  font-weight: bold;
}

.badge {
  position: absolute;
  top: 10px;
  left: 20px;
  background-color: white;
  padding: 7px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.badgepos{
  position: relative;
}